// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
//FontAwesome
@import "~@fortawesome/fontawesome-free/css/all";
@import "footer";
@import "calendar";

@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";
// INTRO
a:focus,
a:hover {
    text-decoration: none;
}

#video-intro {
    position: relative;
    height: 90vh;
    background-color: #ffffff;
    background-image: url(#{$posicionesKarate});
    overflow: hidden;

    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 80%;
        max-height: 80%;
        height: auto;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        z-index: 2;
    }
}

#video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
}

.collapse.in {
    display: block;
}

// LOADER
.loader {
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;

    img {
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        max-height: 300px;
    }
}

.disppear {
    animation: vanish 1s forwards;
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    animation-iteration-count: infinite;
}

// MENU
nav {
    z-index: 3;
    position: fixed;
    top: 0;
    display: flex;
    height: 80px;
    width: 100%;
    background: #ffffff;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;

    input[type="checkbox"] {
        display: none;
    }
}

nav .logo {
    max-height: 100%;
    max-width: 95px;
    padding: 10px;
    padding-top: 8px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0px;
    z-index: 3;
    padding: 0px;
}

nav ul li a,
nav ul li a:focus {
    color: #000000;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    padding: 30px 22px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: #f2f2f2;
    background: #bb0b0d;
    text-decoration: none;
}

nav ul .lang img {
    max-width: 30px;
}

nav ul .lang a.active,
nav ul .lang a:hover {
    background: transparent;
    text-decoration: none;
}

nav .menu-btn i {
    color: #000000;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

// GENERAL
html,
body {
    scroll-behavior: smooth;
    background-color: #fff;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

:target:before {
    content: "";
    display: block;
    height: 1000px;
    margin: -1000px 0 0;
}

body {
    margin-top: 80px;
}

img {
    max-width: 100%;
    height: auto;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

#sponsors {
    img,
    a {
        margin: auto;
        display: inline-block;
    }
}

// CIRCLE BUTTONS
#circle-section {
    scroll-margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 10px 20px;

    .item {
        padding: 5px;
        margin: auto;
    }

    h2 {
        font-size: 1.2rem;
        color: #000000;
    }
}

.button-image {
    display: block;
    position: relative;
    width: 1000px;
    height: 1000px;
    max-width: 250px;
    max-height: 250px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.75);
    margin: 40px auto;
    overflow: hidden;
    transition: all 0.4s;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover {
        box-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 0.75);
        transition: all 0.4s;
    }
}

// EXTRAS
#description {
    display: flex;
    scroll-margin-top: 80px;
    flex-direction: column;
    margin: auto;
    padding: 40px;
    width: 100%;
    max-width: 1140px;

    p {
        font-size: 18px;
        margin-bottom: 30px;
    }

    img {
        align-self: center;
    }

    .col-lg-6 {
        align-self: center;
        padding: 20px;

        img {
            margin: auto;
            display: inline-block;
            max-height: 400px;
            border-radius: 8px;
        }
    }
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

#calendar {
    scroll-margin-top: 80px;
}

// SLIDER
.owl-carousel {
    margin-bottom: 60px;

    .owl-stage {
        display: flex;
    }

    .owl-item img {
        display: block;
        width: auto;
        margin: auto;
        max-height: 500px;
    }
}

.img-wrapper {
    width: 100%;
}

.owl-carousel.owl-drag .owl-item {
    display: flex;
}

// QUERIES
@media (max-width: 1275px) {
    .collapse.in {
        display: block !important;
    }
}

@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 920px) {
    nav .menu-btn i {
        display: block;
    }
    #click:checked ~ .menu-btn i:before {
        content: "\f00d";
    }
    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        height: 100vh;
        width: 100%;
        background-color: #ffffff;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul {
        left: 0;
    }
    nav ul li {
        width: 100%;
        margin: 20px 0;
    }
    nav ul li a,
    nav ul li a:focus {
        border-radius: 0;
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        padding: 10px 0px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    nav ul .lang a,
    nav ul .lang a:focus {
        width: 60px;
        display: inline-block;
        vertical-align: middle;
    }
    #click:checked ~ ul li a {
        margin-left: 0px;
    }

    .column {
        flex: 100%;
    }
}
